<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.practicegenius.webviewbounce"
      version="1.0.8">
    <name>WebView Bounce</name>
    <description>Enables bouncing (rubber band effect iOS like) of WebViews within Android for Cordova Apps</description>
    <license>Apache 2.0</license>
    <keywords>cordova,bouncing,webview</keywords>

	<engines>
    	<engine name="cordova-android" version=">=3.2.0" />
	</engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebViewBounce" >
                <param name="android-package" value="com.practicegenius.webviewbounce.WebViewBounce"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/WebViewBounce.java" target-dir="src/com/practicegenius/webviewbounce" />
    </platform>
</plugin>
